body {
  margin: 0;
  overflow: hidden;
  background: #000;
}

.bg {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: url("pizzaback.jpg") no-repeat center center;
  background-size: cover;
  opacity: 0.10;
  z-index: -1;
}

canvas {
  display: block;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}
