body {
  margin: 0;
  overflow: hidden;
  background: #fff; /* همون سفید که می‌خواستی */
}

/* بکگراند تصویر با اوپاسیتی کم روی سفید */
.bg {
  position: fixed;
  inset: 0;
  background: url("pizzaback.jpg") no-repeat center center;
  background-size: cover;
  opacity: 0.10;      /* فقط تصویر کم‌اپاسیتی */
  z-index: 0;         /* زیر کانواس */
  pointer-events: none;
}

/* کانواس تمام‌صفحه و واضح */
canvas {
  display: block;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;         /* بالای بکگراند */
}
